<div style='background-color: lightgray; padding: 5px;'>
  <h2>Routing PoC with internationalised routes and a state machine</h2>
  <ul>
    <li>
      This grey area is for testing illegal route transitions,
      rather than being part of the actual application.
      The actual application is below.
    </li>
    <li>
      See how the route (in the URL bar) is dependent on the language you use.
    </li>
    <li>
      Use the following table to make illegal route transitions, for example to 'third' if you are
      currently on the first route.
    </li>
    <li>
      Note how the english names are simply keys rather than actual routes.
    </li>
    <li>
      Navigate using the next and previous links at the bottom of the page.
    </li>
    <li>
      This PoC shows that it is possible to encapsulate navigation with internationalised aliases
      and also limit illegal transitions. The cost is approximately 250 lines of medium complex code/html.
      Test code needs to be added to that. Reckon a day of programming for a simple application like this one.
      For a real application this could soon amount to much more.
    </li>
  </ul>

  <table border="1">
  <tr>
    <th>EN</th>
    <th>DE</th>
    <th>FR</th>
  </tr>
  <tr *ngFor="let routeState of routeStates">
    <td>
      {{routeState.key}}
    </td>
    <td *ngFor="let lang of ['de', 'fr']">
      <a routerLink="/{{routeState.getRoute(lang)}}"  routerLinkActive="active">{{routeState.getRoute(lang)}}</a>
    </td>
  </tr>
</table>
</div>

<hr>
<h2>The Application</h2>
<router-outlet></router-outlet>
<div style="color: red;">
  {{ this.ms.messages }}
</div>
